body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

.navbar {
  background-color:grey;
  padding: 15px 0;
  display: flex;
  justify-content: right;
  gap: 25px;
  text-align: start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: x-large;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
 
  padding:10px ;
}

.navbar a:hover {
  text-decoration: underline;
  color: white;
}

.page-content {
  text-align: center;
  padding: 50px;
}

.page {
  background-color:grey;
  margin: 30px auto;
  width: 75%;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

