.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 120px; /* moves text to left spacing */
}

/* Background stays behind */
.home-background {
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* LEFT SIDE TEXT */
.home-content {
  max-width: 500px;
  text-align: left;
}

.home-content h1 {
  font-size: 70px;
  font-weight: 800;
  margin: 0;
  line-height: 1.1;
  color: #000;
}

.home-content p {
  font-size: 30px;
  margin-top: 15px;
  color: #444;
}
